<mat-card [ngClass]="isGridView ? 'gridMaterialCard' : 'listMaterialCard'"
  [style.flex-direction]="isGridView ? 'column' : 'row'">
  <div class="image-Container" [style]="!isGridView ? {'width':'40%'}:''">
    <img [src]="isMissionCard ? cardDataObj.missionImagePath:story.imgUrl" class="mainImage"
      [ngClass]="!isMissionCard ? 'storyImage':''"  [style]="isGridView ? {'height':'260px'}:{'height':'420px','width':'100%'}" alt="Image is there">

    <div *ngIf="!isMissionCard" class="viewDetailButton">
      <app-cards-button class="storyDetailButton" [storyButton]="true" [buttonType]="'View Details'"></app-cards-button>
    </div>

    <div *ngIf="isMissionCard">
      <div class="locationBlock">
        <app-icons [iconName]="'location_on'" [iconValue]="cardDataObj.cityName" class="locationDiv"></app-icons>
      </div>
      <div class="favPositionSet" (click)="favMissionChange(cardDataObj.mission.missionId)">
        <app-icons [iconName]="'favorite'" [iconValue]="''" class="favIcon"
          [style]="cardDataObj.isfavMission ? {'color': 'red'}:''"></app-icons>
      </div>
      <div class="recommendedBlock" (click)="recommendedDialog(cardDataObj.mission.missionId)">
        <app-icons [iconName]="'person_add_alt'" [iconValue]="''" class="recommendedStyle"></app-icons>
      </div>
    </div>
    <div [ngClass]="isGridView ? 'themeBlock':'themeBlockForList'" class="themeDiv">
      <span>
        {{ isMissionCard ? cardDataObj.themeName : story.theme}}
      </span>
    </div>
  </div>

  <mat-card-content class="cardContent" [style]="!isGridView ? {'width':'60%'}:''">
    <mat-card-title class="titleClass">
      {{ isMissionCard ? cardDataObj.mission.title : story.title }}
    </mat-card-title>
    <mat-card-subtitle class="shortDescClass">
      {{ isMissionCard ? cardDataObj.mission.shortDescription : story.description }}
    </mat-card-subtitle>

    <div *ngIf="isMissionCard; then missionContent else storyContent"></div>

    <ng-template #missionContent>
      <div class="organizationAndRating">
        <span>{{ cardDataObj.mission.organizationName }}</span>
        <app-mission-avg-rating [rating]="cardDataObj.avgRating"></app-mission-avg-rating>
      </div>

      <div>
        <app-time-and-goal-detail [timeAndGoalDetail]="timeLine"></app-time-and-goal-detail>
      </div>

      <div class="applyButton">
        <app-cards-button [storyButton]="false" [buttonType]="buttonType"></app-cards-button>
      </div>
    </ng-template>

    <ng-template #storyContent>
      <div class="imageWithName">
        <app-profile-image class="" [img]='story.profilePic'></app-profile-image>>
        <span>{{story.userName}}</span>
      </div>
    </ng-template>

  </mat-card-content>
</mat-card>
