<div>
  <h1 mat-dialog-title>Change Password</h1>

  <div mat-dialog-content>
    <form [formGroup]="changePasswordForm">
      <div class="flex flex-col mt-4">
        <div>
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Old Password</mat-label>
            <input
              matInput
              placeholder="Enter Old Password"
              formControlName="oldPassword"
            />
            <mat-error>{{
              formValidator.formValidations(
                changePasswordForm,
                "oldPassword",
                errorMessage.ChangePassword
              )
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="mt-8">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>New Password</mat-label>
            <input
              matInput
              placeholder="Enter New Password"
              formControlName="newPassword"
              (blur)="passwordBlur()"
            />
            <mat-error>{{
              formValidator.formValidations(
                changePasswordForm,
                "newPassword",
                errorMessage.ChangePassword
              )
            }}</mat-error>
          </mat-form-field>
        </div>
        <div
          class="conform-pass"
          [ngClass]="{ 'mt-10': !this.changePasswordForm.get('newPassword')?.errors?.['required'] && this.changePasswordForm.get('newPassword')?.errors?.['pattern'],
          'mt-8': this.changePasswordForm.get('newPassword')?.errors?.['required']
        }"
        >
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              placeholder="Enter Confirm Password"
              formControlName="confirmPassword"
              (keyup)="checkPassword()"
            />
            <mat-error>{{
              formValidator.formValidations(
                changePasswordForm,
                "confirmPassword",
                errorMessage.ChangePassword
              )
            }}</mat-error>
          </mat-form-field>
          <p
            *ngIf="
              !changePasswordForm.controls['confirmPassword'].invalid &&
              !isPasswordMatch
            "
            class="red-text flex content-start"
          >
            Password and ConfirmPassword must be same
          </p>
        </div>
      </div>
    </form>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-button
      mat-dialog-close
      class="change-pass-btn"
      (click)="changePassword()"
    >
      Change Password
    </button>
  </div>
</div>
