.applyAndViewDetail{
  color: orange;
  border: 1px solid orange;
  border-radius : 25px;
  flex-direction: row-reverse;
  gap: 10px;
  box-shadow: none !important;
}

.applyAndViewDetail:hover{
  background-color: #f89334;
  color: white !important;
  border-radius: 25px !important;
  box-shadow: none !important;
}

.closed{
  color: red;
  border: 1px solid red;
  border-radius : 25px;
  flex-direction: row-reverse;
  gap: 10px;
  box-shadow: none !important;
}

.closed:hover{
  background-color: red;
  color: white !important;
  border-radius: 25px !important;
  box-shadow: none !important;
}

.pending{
  color: green;
  border: 1px solid green;
  border-radius : 25px;
  flex-direction: row-reverse;
  gap: 10px;
  box-shadow: none !important;
}

.pending:hover{
  background-color: green;
  color: white !important;
  border-radius: 25px !important;
  box-shadow: none !important;
}

.storyButtonStyle{
  display: flex;
  flex-direction: row-reverse;
  @apply gap-2 ;
  @apply pl-6 ;
  color: black !important;
  box-shadow: none !important;
  border:1px solid black !important;
  border-radius: 25px;
}
