<mat-card class="border-gray-500 w-full">
    <mat-card-header>
      <mat-card-title class="Infititle text-2xl"> Recent Volunteers</mat-card-title>
    </mat-card-header>
    <hr/>
    <mat-card-content>
        <div class="grid grid-cols-3">
            <div class="col-span-1 text-center justify-center align-middle my-2" *ngFor="let recent of recentVolunteer;">
                <img class="rounded-full mx-auto" src="{{recent.avatar}}" alt=""
                            style="width: 50px; height: 50px" />
                <span>{{recent.firstName}}  {{recent.lastName}}</span>            
            </div>
            <!-- <div class="col-span-1 text-center justify-center align-middle my-2">
                <img class="rounded-full mx-auto" src="../../../../../assets/Images/volunteer1.png" alt=""
                            style="width: 50px; height: 50px" />
                <span>Charul Patel</span>            
            </div>
            <div class="col-span-1 text-center justify-center align-middle my-2">
                <img class="rounded-full mx-auto" src="../../../../../assets/Images/volunteer1.png" alt=""
                            style="width: 50px; height: 50px" />
                <span>Charul Patel</span>            
            </div>
            <div class="col-span-1 text-center justify-center align-middle my-2">
                <img class="rounded-full mx-auto" src="../../../../../assets/Images/volunteer1.png" alt=""
                            style="width: 50px; height: 50px" />
                <span>Charul Patel</span>            
            </div>
            <div class="col-span-1 text-center justify-center align-middle my-2">
                <img class="rounded-full mx-auto" src="../../../../../assets/Images/volunteer1.png" alt=""
                            style="width: 50px; height: 50px" />
                <span>Charul Patel</span>            
            </div>
            <div class="col-span-1 text-center justify-center align-middle my-2">
                <img class="rounded-full mx-auto" src="../../../../../assets/Images/volunteer1.png" alt=""
                            style="width: 50px; height: 50px" />
                <span>Charul Patel</span>            
            </div>
            <div class="col-span-1 text-center justify-center align-middle my-2">
                <img class="rounded-full mx-auto" src="../../../../../assets/Images/volunteer1.png" alt=""
                            style="width: 50px; height: 50px" />
                <span>Charul Patel</span>            
            </div> -->

        </div>
    </mat-card-content>
  </mat-card>