* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.custom-container {
  display: flex;
  justify-content: space-between;
}

.custom-flex-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-profile-img {
  border-radius: 50%;
  height: 85px;
  width: 80px;
}

.custom-text {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: medium;
}

.custom-border {
  border: 1px solid gray;
  border-radius: 24px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-left: 20vw;
  margin-top: 3vh;
}

.custom-icon {
  margin-right: 5px;
}

.custom-row {
  white-space: nowrap;
}

.custom-col {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.custom-btn-left {
  border-radius: 24px 0 0 24px;
}

.custom-btn-right {
  border-radius: 0 24px 24px 0;
}

.clr {
  color: black;
}

.brd,
.brd1 {
  color: gray;
}

.brd {
  border: 1px solid gainsboro;
  padding: 4px 20px;
}

.brd1,
.brd2 {
  padding: 5px 20px;
  border-radius: 24px;
}

.brd1 {
  padding-left: 2vw;
  padding-right: 2vw;
  border: 2px solid gray;
}

.brd2 {
  padding-left: 4vw;
  padding-right: 4vw;
  border: 2px solid #f88634;
  color: #f88634;
}

.text-center {
  text-align: center;
}

.inline-container {
  display: flex;
  align-items: center;
}

.inline-text {
  margin-left: 5px;
}

.rec-icon {
  height: 20px;
}
.arr-icon {
  height: 15px;
}
