<div class="custom-container">
    <div class="custom-flex-item">
      <div>
        <img
          src="/assets/Images/volunteer1.png"
          class="custom-profile-img"
          alt="Profile Image"
        />
      </div>

      <p class="custom-text">John Doe</p>
    </div>
    <div class="custom-flex-item view">
      <div class="custom-border">
        <mat-icon class="custom-icon">visibility</mat-icon>
        20 views
      </div>
    </div>
  </div>

  <div class="mt-4">
    <P class="clr"
      >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque
      soluta perferendis, unde ipsam qui nihil esse doloribus ipsum!</P
    >
    <p class="clr">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt
      delectus doloremque vel quos amet voluptates, et tempore inventore
      officia laudantium consequatur optio nobis blanditiis architecto
      temporibus! Debitis.
    </p>
  </div>

  <div class="custom-row mt-4">
    <div class="custom-col">
      <button type="button" class="custom-btn custom-btn-left">
        <div class="text-center clr brd1">
          <div class="inline-container">
            <mat-icon class="mr-3 mb-1 rec-icon">group_add</mat-icon>
            <span class="inline-text">Recommend to Co-Worker</span>
          </div>
        </div>
      </button>
    </div>
    <div class="custom-col">
      <a class="text-center sdpOpenmission">
        <button type="button" class="custom-btn custom-btn-right">
          <div class="text-center clr brd2">
            <div class="inline-container">
              Open Mission
              <mat-icon class="ms-3 mb-2 arr-icon"
                >arrow_right_alt</mat-icon
              >
            </div>
          </div>
        </button>
      </a>
    </div>
  </div>
