@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .save-mat-button {
    color: #f88634 !important;
  }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  width: auto;
  min-width: 400px !important;
}
