<div class="login-main">
  <div class="login-left">
    <app-banner></app-banner>
  </div>
  <div class="login-right">
    <form class="example-form sm:p-4" [formGroup]="loginForm">
      <div>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Email</mat-label>
          <div class="only-flex">
            <input formControlName="email" matInput type="email" />
            <span class="ms-2 flex items-center"
              ><mat-icon>mail</mat-icon>
            </span>
          </div>

          <mat-error class="red-text">{{
            formValidationService.formValidations(
              loginForm,
              "email",
              errorMessage.Login
            )
          }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field
          appearance="outline"
          class="example-full-width margin-top6"
        >
          <mat-label>Password</mat-label>
          <div class="only-flex">
            <input
              formControlName="password"
              [type]="type"
              matInput
              (blur)="validatePassword()"
              #password
            />

            <span
              (click)="hideShowPassword(password)"
              class="ms-2 flex items-center cursor-pointer hover:text-orange-600"
            >
              <mat-icon>{{ iconName }}</mat-icon></span
            >
          </div>
          <mat-error class="red-text">{{
            formValidationService.formValidations(
              loginForm,
              "password",
              errorMessage.Login
            )
          }}</mat-error>
        </mat-form-field>
      </div>
      <div style="width: 100%; display: flex; justify-content: center">
        <button
          (click)="onLogin()"
          mat-raised-button
          color="warn"
          [ngClass]="{
            'mt-12 ':
              loginForm.controls['password'].invalid &&
              loginForm.hasError('pattern', 'password') &&
              isPasswordBlur
          }"
          class="rounded-3xl"
          [disabled]="!loginForm.valid"
          style="width: 80%"
        >
          <span class="font-medium">LOGIN</span>
        </button>
      </div>
      <div class="margin-top6">
        <a routerLink="/forgetPassword">Lost your password?</a>
      </div>
      <div class="display-flex xl:flex-row flex-col margin-top6">
        <p>Don't have an account?</p>
        <a routerLink="/register" class="text-blue-600">Create an account</a>
      </div>
      <div class="xl:mt-32">
        <a href="#">privacy policy</a>
      </div>
    </form>
  </div>
</div>
