<div class="TopImage mat-card mat-elevation-z4 mat-padding mt-3">
    <img
      src="/assets/Images/Grow-Trees-On-the-path-to-environment-sustainability-listingpage.png"
      alt="Avatar"
      class="image"
    />
    <div class="overlay mat-card-content">
      <div class="text">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae vel
          reiciendis veniam velit non fuga ab voluptatum, quo dolorum enim.
          Repellendus ipsum consectetur reprehenderit! Praesentium delectus
          blanditiis officiis ex earum.
        </p>
        <button mat-button color="warning" class="rounded-pill outline-button" routerLink="share-story">
          <span class="text-wrap">Share your Story</span>
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
