<app-header></app-header>

<body>
  <form class="share-story-form" [formGroup]="shareStoryForm">
    <p class="title">Share your Story</p>

    <div class="inputs">
      <div>
        <mat-label class="fieldTitle">Select Mission</mat-label>
        <div>
          <select
            matNativeControl
            class="userAppliedMission"
            id="storyMissions"
            formControlName="selectedMissionId"
            name="selectMission"
          >
            <option value="" disabled selected>Select your Mission</option>
            <option
              *ngFor="let mission of missions"
              [value]="mission.mission.missionId"
            >
              {{ mission.mission.title }}
            </option>
          </select>
          <mat-error></mat-error>
        </div>
      </div>

      <div>
        <mat-label class="fieldTitle">My Story Title</mat-label>
        <div>
          <input
            matInput
            type="text"
            class="storyTitle"
            id="exampleInputEmail1"
            placeholder=" Enter Story Title"
            formControlName="storyTitle"
            name="storyTitle"
          />
          <br />

          <mat-error>{{
            formValidationService.formValidations(
              shareStoryForm,
              "storyTitle",
              errorMessage.ShareStory
            )
          }}</mat-error>
        </div>
      </div>

      <div>
        <mat-label class="fieldTitle">Date</mat-label>
        <div class="dateField">
          <input
            matInput
            formControlName="date"
            name="date"
            [matDatepicker]="releasedAtPicker"
            placeholder=" Select date"
            id="date"
            class="textbox-n dateInput"
          />

          <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
          </mat-datepicker-toggle>

          <mat-datepicker #releasedAtPicker startView="year"> </mat-datepicker>
        </div>
        <mat-error>{{
          formValidationService.formValidations(
            shareStoryForm,
            "date",
            errorMessage.ShareStory
          )
        }}</mat-error>
      </div>
    </div>

    <div>
      <mat-label class="storyLable">My Story</mat-label>

      <ckeditor
        [editor]="Editor"
        (ready)="onEditorReady($event)"
        formControlName="myStory"
        name="myStory"
      >
      </ckeditor>

      <mat-error>{{
        formValidationService.formValidations(
          shareStoryForm,
          "myStory",
          errorMessage.ShareStory
        )
      }}</mat-error>
    </div>

    <div class="videoUrl">
      <mat-label for="Video URL" class="urlLable">Enter Video URL</mat-label>
      <div>
        <input
          matInput
          type="url"
          id="storyURL"
          class="form-control urlInput"
          placeholder=" Enter your URL"
          aria-describedby="emailHelp"
        />
        <mat-error></mat-error>
      </div>
    </div>

    <div>
      <mat-label style="font-size: 1.25rem">Upload Your Photos</mat-label>
      <div class="upload__box">
        <div class="upload__btn-box">
          <label class="upload__btn">
            <p class="uploadButton">+</p>
            <p>Drag & Drop your Pictures & Photos</p>
            <input
              type="file"
              multiple
              class="upload__inputfile"
              (change)="handleImageUpload($event)"
            />
          </label>
        </div>
        <div class="upload__img-wrap">
          <ng-container *ngFor="let file of uploadedImages; let i = index">
            <img
              [src]="getImgSrc(file)"
              [alt]="file.name"
              class="uploaded-image resized-image"
            />
            <button
              mat-icon-button
              color="primary"
              aria-label="Remove"
              (click)="removeImage(file)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </ng-container>
        </div>
        <button
          mat-button
          color="warn"
          *ngIf="uploadedImages.length > 0"
          (click)="clearAllImages()"
        >
          Clear All
        </button>
      </div>
    </div>

    <input type="hidden" id="storyId" />
    <input type="hidden" id="userId" />
    <div class="buttons">
      <div>
        <button type="reset" class="btn2">Cancel</button>
      </div>
      <div>
        <button
          type="button"
          id="submitBtn"
          value="1"
          class="btn1"
          (click)="saveStory()"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</body>
<app-footer></app-footer>
