@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .register-main {
    @apply grid xl:grid-cols-12;
  }

  .register-left {
    @apply col-span-8;
  }

  .register-right {
    @apply col-span-4 flex justify-center text-center xl:items-center h-100;
  }

  .red-text {
    @apply text-red-600;
  }

  .display-flex {
    @apply flex space-x-1 text-center justify-center xl:flex-row md:flex-col sm:flex-col;
  }

  .only-flex {
    @apply flex;
  }

  .form-input {
    @apply border-black;
  }

  .span-error {
    @apply flex justify-self-start ms-4;
  }
}

.margin-top6 {
  margin-top: 0.8rem;
}

.w-btn-80 {
  width: 80%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

@media only screen and (max-width: 1279px) {
  .register-right {
    @apply col-span-4 flex justify-center text-center xl:items-center h-100 w-100 mt-24;
  }

  .w-100 {
    width: 100vw;
  }

  .h-100 {
    height: 100%;
    width: 100vw;
  }
}

@media only screen and (max-width: 528px) {
  .padding-form {
    @apply p-5;
  }

  .register-right {
    @apply col-span-4 flex justify-center text-center xl:items-center h-100 w-100 mt-16;
  }
}

@media only screen and (max-width: 650px) {
  .register-left {
    display: none;
  }
  .register-right {
    @apply flex justify-center;
  }
}

.example-full-width {
  width: 100%;
}

/* loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  font-weight: 100;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 2px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
