<div style="height: max-content" class="subheader">
  <mat-toolbar>
    <div class="flex gap-3">
      <span class="flex items-center"><mat-icon>search</mat-icon> </span>
      <input
        matInput
        #searchBar
        type="text"
        placeholder="search"
        class="searchText"
        (keyup)="searchMission(searchBar.value)"
      />
    </div>
    <span class="menu-spacer"></span>
    <div class="flex items-center divide-x" fxShow="true" fxHide.lt-md>
      <mat-form-field class="filter-options">
        <mat-label class="text-black">Country</mat-label>
        <mat-select
          multiple
          (selectionChange)="selectedCountries($event.value)"
        >
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-options">
        <mat-label class="text-black">City</mat-label>
        <mat-select multiple (selectionChange)="selectedCities($event.value)">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-options">
        <mat-label class="text-black">Theme</mat-label>
        <mat-select multiple (selectionChange)="selectedThemes($event.value)">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-options">
        <mat-label class="text-black">Skill</mat-label>
        <mat-select multiple (selectionChange)="selectedSkills($event.value)">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-toolbar>
</div>
