<div class="register-main">
  <div class="register-left">
    <app-banner></app-banner>
  </div>
  <div class="register-right">
    <form class="example-form lg:p-4 p-2" [formGroup]="RegisterForm">
      <div>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>First Name</mat-label>
          <div class="only-flex">
            <input formControlName="firstName" matInput type="text" />
            <span class="ms-2 flex items-center"
              ><mat-icon>person</mat-icon>
            </span>
          </div>
          <mat-error class="red-text">{{
            formValidationService.formValidations(
              RegisterForm,
              "firstName",
              errorMessage.Register
            )
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="margin-top6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Last Name</mat-label>
          <div class="only-flex">
            <input formControlName="lastName" matInput type="text" />
            <span class="ms-2 flex items-center"
              ><mat-icon>person</mat-icon>
            </span>
          </div>
          <mat-error class="red-text">{{
            formValidationService.formValidations(
              RegisterForm,
              "lastName",
              errorMessage.Register
            )
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="margin-top6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Phone Name</mat-label>
          <div class="only-flex">
            <input formControlName="phoneNumber" matInput type="number" />
            <span class="ms-2 flex items-center"
              ><mat-icon>call</mat-icon>
            </span>
          </div>

          <mat-error class="red-text">{{
            formValidationService.formValidations(
              RegisterForm,
              "phoneNumber",
              errorMessage.Register
            )
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="margin-top6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Email</mat-label>
          <div class="only-flex">
            <input formControlName="email" matInput type="email" />
            <span class="ms-2 flex items-center"
              ><mat-icon>mail</mat-icon>
            </span>
          </div>
          <mat-error class="red-text">{{
            formValidationService.formValidations(
              RegisterForm,
              "email",
              errorMessage.Register
            )
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="margin-top6">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Password</mat-label>
          <div class="only-flex">
            <input
              formControlName="password"
              [type]="typeOfPassword"
              matInput
              name="password"
              (blur)="validatePassword()"
              #password
            />
            <span
              (click)="hideShowPassword(password)"
              class="ms-2 flex items-center"
            >
              <mat-icon class="cursor-pointer hover:text-orange-600">{{
                iconName
              }}</mat-icon></span
            >
          </div>
          <mat-error class="red-text">{{
            formValidationService.formValidations(
              RegisterForm,
              "password",
              errorMessage.Register
            )
          }}</mat-error>
        </mat-form-field>
      </div>
      <div
        class="margin-top6"
        [ngClass]="{
          'mt-14':
            RegisterForm.controls['password'].invalid &&
            RegisterForm.hasError('pattern', 'password') &&
            isPasswordBlur
        }"
      >
        <mat-form-field
          appearance="outline"
          class="example-full-width"
          [ngClass]="{
            'mt-12':
              RegisterForm.controls['password'].invalid &&
              RegisterForm.hasError('pattern', 'password') &&
              isPasswordBlur
          }"
        >
          <mat-label>Confirm Password</mat-label>
          <div class="only-flex">
            <input
              formControlName="confirmPassword"
              [type]="typeOfConfirmPassword"
              matInput
              (keyup)="checkPassword()"
              #confirmPassword
            />
            <span (click)="hideShowPassword(confirmPassword)">
              <mat-icon
                class="cursor-pointer ms-2 flex items-center hover:text-orange-600"
                >{{ iconNameForConfirmPassword }}</mat-icon
              ></span
            >
          </div>
          <mat-error class="red-text">{{
            formValidationService.formValidations(
              RegisterForm,
              "confirmPassword",
              errorMessage.Register
            )
          }}</mat-error>
        </mat-form-field>
        <span
          *ngIf="
            !RegisterForm.controls['confirmPassword'].invalid && isPasswordMatch
          "
          class="red-text flex content-start"
          >Password and ConfirmPassword must be same</span
        >
      </div>
      <div style="width: 100%" class="flex justify-center">
        <button
          color="warn"
          mat-raised-button
          (click)="onRegister()"
          [disabled]="RegisterForm.invalid"
          class="rounded-3xl"
          style="width: 80%"
        >
          <span class="font-medium">REGISTER</span>
        </button>
      </div>

      <div class="display-flex margin-top6">
        <a routerLink="/forgetPassword">Lost your password?</a>
      </div>
      <div class="margin-top6">
        <a routerLink="/"
          ><span class="text-blue-700">Already have an account ?</span
          ><span class="text-black"> Login now </span></a
        >
      </div>
      <div class="xl:mt-auto">
        <a routerLink="/register">privacy policy</a>
      </div>
    </form>
  </div>
</div>
