.TimelineStyle{
  @apply flex;
  @apply justify-center ;
  @apply items-center ;
  @apply mb-3 ;
}

.TimelineInnerStyle{
  @apply border ;
  @apply rounded-full ;
  @apply border-neutral-500 ;
  @apply bg-white	;
}

.TimeLineText{
  @apply flex ;
  @apply justify-between ;
  @apply px-2 ;
  }

.sheetsAndDeadLine{
  @apply flex;
  @apply justify-between ;
  @apply mb-5 ;
  @apply pb-3 ;
  @apply border-t ;
  @apply border-b ;
  @apply pt-5 ;
  margin-top: -23px;
}

.sheetsLeftFullDiv{
  @apply flex ;

  @apply gap-2 ;
}

.sheetsLeftStyle{
  @apply flex ;
  @apply flex-col ;
}

.CommonTextStyle{
  @apply text-neutral-500	 ;
}

.achieveLogoImageSet{
  height: 25px;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-height: 10px;
  --mdc-linear-progress-track-height: 10px;
  --mdc-linear-progress-track-shape : 60px;
  --mdc-linear-progress-active-indicator-shape: 60px;
  --mdc-linear-progress-active-indicator-color: #F88634 ;
  --mdc-linear-progress-track-color: rgb(241, 241, 241);

}
