<div class="forget-main">
  <div class="forget-left">
    <app-banner></app-banner>
  </div>

  <div class="forget-right">
    <div class="xl:margin-top52">
      <h1 class="form-heading">Forget Password</h1>
      <p class="p-4">
        Enter your email address you've using for your account below and we will
        send you password reset link
      </p>
    </div>
    <div class="flex-center">
      <form class="example-form sm:p-4 padding-3" [formGroup]="forgetPassForm">
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email</mat-label>
            <div class="only-flex">
              <input formControlName="email" matInput type="email" />
              <span class="ms-2 flex items-center"
                ><mat-icon>mail</mat-icon>
              </span>
            </div>
            <mat-error class="red-text">{{
              formValidationService.formValidations(
                forgetPassForm,
                "email",
                errorMessage.Forgot
              )
            }}</mat-error>
          </mat-form-field>
        </div>
        <div style="width: 100%" class="flex justify-center">
          <button
            color="warn"
            mat-raised-button
            (click)="forgetPass()"
            [disabled]="buttonDisabled == true || forgetPassForm.invalid"
            class="rounded-3xl"
            style="width: 80%"
          >
            <span class="font-medium">SEND REQUEST</span>
          </button>
        </div>
        <div class="mt-5 text-blue-600">
          <a routerLink="/">Login</a>
        </div>

        <div class="xl:mt-32">
          <a routerLink="/register">privacy policy</a>
        </div>
      </form>
    </div>
  </div>
</div>
