<div class="reset-main">
  <div class="reset-left">
    <app-banner></app-banner>
  </div>
  <div class="reset-right">
    <div class="xl:margin-top52">
      <h1 class="form-heading">New Password</h1>
      <p class="p-4">Please enter a new password in the fields below</p>
    </div>

    <div class="flex-center">
      <form class="example-form sm:p-4" [formGroup]="resetPasswordForm">
        <div
          [ngClass]="{
            'mb-14':
              resetPasswordForm.controls['password'].invalid &&
              resetPasswordForm.hasError('pattern', 'password') &&
              isPasswordBlur
          }"
        >
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>New Password</mat-label>
            <div class="only-flex">
              <input
                formControlName="password"
                [type]="typeOfPassword"
                matInput
                name="password"
                #password
                (blur)="validatePassword()"
              />

              <span
                (click)="hideShowPassword(password)"
                class="cursor-pointer ms-2 flex items-center hover:text-orange-600"
              >
                <mat-icon>{{ iconName }}</mat-icon></span
              >
            </div>
            <mat-error class="red-text">{{
              formValidationService.formValidations(
                resetPasswordForm,
                "password",
                errorMessage.ResetPassword
              )
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="mt-2">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Confirm New Password</mat-label>
            <div class="only-flex">
              <input
                formControlName="confirmPassword"
                [type]="typeOfConfirmPassword"
                matInput
                name="confirmPassword"
                (keyup)="checkPassword()"
                #confirmPassword
              />

              <span
                (click)="hideShowPassword(confirmPassword)"
                class="ms-2 flex items-center cursor-pointer hover:text-orange-600"
              >
                <mat-icon>{{ iconNameForConfirmPassword }}</mat-icon></span
              >
            </div>

            <mat-error class="red-text">{{
              formValidationService.formValidations(
                resetPasswordForm,
                "confirmPassword",
                errorMessage.ResetPassword
              )
            }}</mat-error>
          </mat-form-field>
          <p
            *ngIf="
              !resetPasswordForm.controls['confirmPassword'].invalid &&
              isPasswordMatch
            "
            class="red-text flex content-start"
          >
            Password and ConfirmPassword must be same
          </p>
        </div>
        <div style="width: 100%" class="flex justify-center">
          <button
            color="warn"
            mat-raised-button
            (click)="onReset()"
            [disabled]="resetPasswordForm.invalid"
            class="rounded-3xl"
            style="width: 80%"
          >
            <span class="font-medium">CHANGE PASSWORD</span>
          </button>
        </div>
        <div class="mt-5 text-blue-600">
          <a routerLink="/">Login</a>
        </div>

        <div class="xl:mt-32">
          <a routerLink="/register">privacy policy</a>
        </div>
      </form>
    </div>
  </div>
</div>
