@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .user-main {
    @apply flex;
    width: 100vw;
  }

  .user-left {
    @apply md:w-1/6 sm:w-full;
  }

  .user-right {
    @apply md:w-5/6 sm:w-full;
  }

  .top-nav {
    @apply w-full;
    height: max-content;
  }

  .scroll-bar::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
  }

  .scroll-bar::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    height: 12px;
    @apply bg-orange-700;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(255, 255, 255);
    /* creates padding around scroll thumb */
  }
}

@media (max-width: 767px) {
  .user-main {
    @apply flex flex-col;
  }
}

.mat-mdc-header-cell {
  background: gray !important;
  border: 2px solid black !important;
}

td {
  border: 2px solid black !important;
}

.search-bar {
  border: 2px solid black;
  border-radius: 3px;
}

.orange-border {
  border: 2px solid rgb(234 88 12);
}

th {
  font-size: 20px;
}

.red-background {
  background: rgb(184, 46, 46) !important;
}
